<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' ; style-src 'self' 'unsafe-inline'; media-src ; script-src 'self' https://js.stripe.com/v3/ 'unsafe-inline' 'unsafe-eval'; "> -->
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>